@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Poppins", sans-serif;
}

.night {
    background-color: #fff;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 12px;
    left: 13px;
    border-radius: 60px;
    cursor: pointer;
}


.night #nightButton {
    margin: auto;
    padding: 23px 13px;
    font-size: 30px;
}

.day {
    background-color: #fff;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 12px;
    left: 13px;
    border-radius: 60px;
    cursor: pointer;
    display: none;
}

.day #dayButton {
    margin: auto;
    padding: 23px 10px;
    font-size: 30px;
    /* display: none; */
}

.background {
    background-image: url("./Assets/image/bg-image-25.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8px;
    margin: 0 auto;
}

.logo img {
    height: 65px;
    width: 65px;
    cursor: pointer;
}

.left {
    display: flex;
    align-items: center;
}

.left ul {
    display: flex;
    cursor: pointer;
    padding: 0 20px;
}

.left ul li {
    list-style: none;
    cursor: pointer;
    padding: 10px 11px;
}

.left ul li:hover {
    color: rgb(249, 0, 77);
    transition: 0.2s ease-in-out;
    text-decoration: underline;
}

.left .sideBar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 60%;
    z-index: 999;
    background-color: #fff;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 100px 30px;
}

.left .sideBar ul li {
    padding: 10px 0;
}

.right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* position: relative; */
    /* justify-content: end; */
    padding: 10px;
}

.right ul {
    display: flex;
    cursor: pointer;
    padding: 0 20px;
}

.right ul li {
    list-style: none;
    cursor: pointer;
    gap: 3px;
    padding: 3px 7px;
}


.right ul button {
    height: 40px;
    letter-spacing: 1px;
    width: 120px;
    font-weight: 500;
    font-size: 14px;
    margin: 0 25px;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    bottom: 5px;
    background-color: transparent;
}

.right ul button:hover {
    background-color: rgb(249, 0, 77);
    color: white;
    border: none;
    transition: 0.2s ease-in-out;
}

.right .togleButton {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px;
    font-family: "Poppins", sans-serif;
}

.text-content {
    flex: 1;
    /* min-width: 300px; */
    /* text-align: left; */
}

.title {
    font-size: 15px;
    font-weight: 400;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main-text {
    font-weight: 900;
    font-size: 75px;
    color: #000;
    line-height: 1.2;
}

.highlight {
    color: #ff0054;
}

.about-me {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 90px 0;
}

.about {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 40px;
}

.pic {
    height: auto;
    width: 100%;
    border-radius: 12px;
}

.aboutText .aboutText-1 {
    color: #333;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
}

.aboutText .aboutText-2 {
    /* color: #333; */
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: rgb(113, 113, 115);
}

.hover {
    cursor: pointer;
    color: black;
}

.hover:hover {
    color: rgb(249, 0, 77);
}

.aboutText .aboutBtn {
    color: rgb(113, 113, 115);
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}

.aboutText .aboutBtn span {
    padding: 0 15px 0 0;
    cursor: pointer;
}

.aboutText .aboutBtn span:hover {
    color: rgb(249, 0, 77);
}

.about .aboutBtnDesc {
    padding: 10px 0;
}

.aboutTitle {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

.aboutTitle:hover {
    color: rgb(249, 0, 77);
}

.aboutDes {
    font-weight: 300;
    font-size: 16px;
    color: rgb(113, 113, 115);
}

.service {
    background-color: #F8F9FC;
    margin: 0 auto;
    padding: 30px 0;
}

.serviceHeading {
    text-align: center;
    padding: 50px 0;
}

.serviceHeading .serviceHeading-1 {
    font-weight: 700;
    font-size: 55px;
}

.serviceHeading .serviceHeading-2 {
    font-weight: 300;
    font-size: 18px;
    color: rgb(113, 113, 115);
    padding: 0 50px;
}

.serviceHeading p {
    font-weight: 300;
    font-size: 18px;
    color: rgb(113, 113, 115);
}

.serviceBox {
    max-width: 1200px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    margin: 0 auto;
}

.serviceCard {
    background-color: #f8f2f2;
    cursor: pointer;
    /* width: 80%; */
    margin: 20px;
    padding: 32px 20px 20px 20px;
    border-radius: 8px;
}

.serviceCard:hover {
    color: white;
    background-image: linear-gradient(-90deg, #f61a19, #ef0963);
    transform: scale(1.08);
    transition: all 0.5s ease;

    .icon i {
        color: white;
        transition: all 0.5s ease;
    }


}

.icon {
    width: max-content;
}

.icon i {
    font-size: 48px;
    color: rgb(249, 0, 77);
    padding: 30px 0;
}

.serviceCard h3 {
    padding: 20px 0;
}

.project {
    margin: 0 auto;
    padding: 20px 0;
}

.projectHeading {
    padding: 50px 0;
    text-align: center;
}

.projectHeading .projectHeading-1 {
    font-weight: 700;
    font-size: 60px;
}

.projectHeading .projectHeading-2 {
    font-weight: 400;
    font-size: 18px;
    color: rgb(113, 113, 115);
}

.projectBox {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    justify-content: space-between;
    gap: 45px;
    height: 100%;
    height: 100%;
    /* margin-right: -15px;
    margin-left: -15px; */
}

.projectCard {
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    text-align: center;
}

.projectCard .projectContent {
    position: relative;
    left: 0;
    top: 65%;
}

.projectCard .projectContent h5 {
    font-weight: 400;
    font-size: 14px;
    color: rgb(198, 201, 216);
}

.projectCard .projectContent h3 {
    line-height: 36px;
    font-weight: 600;
    font-size: 24px;
    color: rgb(255, 255, 255);
    padding: 0 10px;
}

.projectCard .projectContent button {
    background-color: transparent;
    border: 1px solid rgb(113, 113, 115);
    color: rgb(255, 255, 255);
    height: 30px;
    width: 110px;
    border-radius: 400;
    font-size: 14px;
    border-radius: 7px;
}

.projectCard .projectContent button:hover {
    border: none;
    background-color: rgb(249, 0, 77);
    transition: 0.3s ease-in-out;
}

.projectColor {
    position: absolute;
    /* bottom: 6px; */
    /* top: 0; */
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(234, 33, 90, 0.5);
    display: none;
}

.projectCard:hover {
    transition: all 0.5s ease-in-out;

    .projectColor {
        display: flex;
    }
}

.pb-1 {
    background-image: url("./Assets/image/portfolio-static-01-390x532.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    filter: brightness(0.8);
}

.pb-2 {
    background-image: url("./Assets/image/portfolio-8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    filter: brightness(0.8);
}

.pb-3 {
    background-image: url("./Assets/image/portfolio-7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    filter: brightness(0.8);
}

.pb-4 {
    background-image: url("./Assets/image/portfolio-6-390x532.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    filter: brightness(0.8);
}

.pb-5 {
    background-image: url("./Assets/image/portfolio-1-390x532.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    filter: brightness(0.8);
}

.pb-6 {
    background-image: url("./Assets/image/portfolio-5-390x532.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    filter: brightness(0.8);
}

.projectCard:hover {
    transform: scale(1.11);
    transition: 0.3s ease;
}

.news {
    margin: 0 auto;
    background-color: #F8F9FC;
}

.news .newsHeading {
    padding: 50px 0;
    text-align: center;
}

.news .newsHeading .newsHeading-1 {
    font-weight: 700;
    font-size: 60px;
}

.news .newsHeading .newsHeading-2 {
    color: rgb(113, 113, 115);
    font-weight: 300;
    font-size: 18px;
}

.newsBox {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    padding: 20px;
    gap: 35px;
}

.newsCard {
    cursor: pointer;
    width: 100%;
    position: relative;
}

.newsCard .newsImg {
    width: 100%;
    border-radius: 5px;
}

.newsBox .newsCard .newsContent {
    position: absolute;
    bottom: 30px;
    z-index: 3;
    padding: 0 30px;
}

.newsContent h5 {
    font-weight: 400;
    font-size: 14px;
    color: rgb(198, 201, 216);
}

.newsContent p {
    /* padding: 0 30px; */
    font-weight: 500;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.newsContent button {
    height: 40px;
    width: 100px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(249, 0, 77);
    font-weight: 400;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
}

.newsColor {
    position: absolute;
    /* bottom: 6px; */
    /* top: 0; */
    width: 100%;
    height: 99%;
    border-radius: 5px;
    background-color: rgba(234, 33, 90, 0.5);
    display: none;
}

.newsContent button:hover {
    cursor: pointer;
    background-color: rgb(249, 0, 77);
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.newsCard:hover {
    transition: all 0.5s ease-in-out;

    .newsColor {
        display: inline;
    }

    .newsContent {
        bottom: 50px;
        transition: 0.3s ease;
    }

    .newsContent button {
        display: flex;
        transition: 0.2s ease-in-out;
    }
}

/* .newsHide {
    position: absolute;
    content: "";
    background: #2d2e38;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: -1;
    height: 170px;
    width: 240px;
    border-radius: 5px;
    display: none;
} */

.hire-me {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 100px 0;
    position: static;
}

.hireDes {
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 40px;
}

.hirePic {
    height: auto;
    width: 52%;
    border-radius: 12px;
}

.hirePic-1 {
    display: none;
}

.hireText .hireText-1 {
    color: #333;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hireText .hireText-2 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: rgb(113, 113, 115);
}

.hireHover {
    color: black;
    cursor: pointer;
}

.hireHover:hover {
    color: rgb(249, 0, 77);
}

.hireText .input {
    padding: 10px 0;
}

.hireText .input input {
    padding: 0 10px;
    border: 1px solid gray;
    background-color: transparent;
    height: 50px;
    width: 100%;
    border-radius: 5px;
}

.hireText .input input:focus,
.hireText .input textarea:focus {
    border: none;
    outline: 3px solid rgb(249, 0, 77);
    transition: 0.3s ease-in-out;
}

.hireText .input input::placeholder {
    font-weight: 400;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    display: none;
}


.hireText .input textarea {
    border: 1px solid gray;
    padding: 10px 10px;
    height: 80px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
}

.hireText .input textarea::placeholder {
    font-weight: 400;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.hireText .button {
    padding: 0 10px;
}

.hireText .button button {
    height: 50px;
    width: 165px;
    background-color: rgb(249, 0, 77);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px;
    cursor: pointer;
}

.hireText .button button:hover {
    background-color: white;
    color: rgb(249, 0, 77);
    border: 1px solid rgb(249, 0, 77);
    outline: 1px rgb(249, 0, 77);
    transition: 0.3s ease-in-out;
}


.footer {
    background-color: #1C1D23;
    height: auto;
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer .footerImg img {
    height: 65px;
    padding: 16px 50px;
    cursor: pointer;
}

.footer .footerImg span {
    position: relative;
    bottom: 35px;
    right: 40px;
    font-weight: 700;
    font-size: 39px;
    cursor: pointer;
}

.footer .fontAwosome {
    padding: 35px;
    text-align: center;
    margin: 10px;
}

.footer .fontAwosome span {
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.footer .copyRight {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
}

.footer .copyRight span span {
    cursor: pointer;
}

.footer .copyRight span span:hover {
    color: rgb(249, 0, 77);
    transition: 0.2s ease-in-out;
}



@media only screen and (max-width:992px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .pic {
        position: relative;
        width: 100%;
        height: auto;
        /* max-width: 690px; */
        border-radius: 12px;
    }

    .aboutText {
        padding-top: 25px;
        padding-left: 0 !important;
        /* padding-right: 20px !important; */
        gap: 20px;
        position: relative;
    }

    .aboutText h2 {
        color: #333;
        font-size: 50px;
        font-weight: 600;
    }

    .aboutText .aboutBtn {
        padding: 0 0 4px 0;
    }

    .serviceBox {
        grid-template-columns: 1fr 1fr;
    }

    .projectBox {
        grid-template-columns: 1fr 1fr;
    }


    .pb-1,
    .pb-2,
    .pb-3,
    .pb-4,
    .pb-5,
    .pb-6 {}

    .newsBox {
        grid-template-columns: 1fr 1fr;
    }

    .hireDes {
        flex-direction: column;
        align-items: center;
    }

    .hirePic {
        width: 100%;
        height: auto;
        /* max-width: 690px; */
        border-radius: 12px;
    }

    .hirePic-1 {
        display: flex;
    }

    .hirePic-2 {
        display: none;
    }

    .hireText {
        gap: 20px;
        position: relative;
    }

    .hireText h2 {
        color: #333;
        font-size: 50px;
        font-weight: 600;
    }

    .aboutText .aboutBtn {
        padding: 0 0 4px 0;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .footer .copyRight {
        padding-right: 0;
        text-align: center;
        position: relative;
        left: 150px;
    }
}

@media only screen and (max-width:990px) {

    .sideBar {
        display: none;
    }

    .right .togleButton {
        display: flex;
    }

    .left ul {
        display: none;
    }
}

@media only screen and (max-width:767px) {
    .right ul button {
        display: none;
    }

    .row {
        align-items: center;
        justify-content: space-around;
    }

    .title {
        font-size: 16px;
    }

    .main-text {
        font-size: 40px;
    }

    .aboutText h2 {
        font-weight: 700;
        font-size: 40px;
    }

    .aboutText h5 {
        font-weight: 300;
        font-size: 16px;
    }

    .service-card {
        width: 100%;
    }

    /* 
    .newsContent h5 {
        padding: 10px 0;
        font-weight: 400;
        font-size: 14px
    }

    .newsContent p {
        padding: 10px 0;
        font-weight: 500;
        font-size: 18px;
    }


    .newsBox .newsCard img {
        width: 240px;
    }

    .newsBox .newsCard .newsContent {
        position: relative;
        bottom: 0;
        width: 100%;
        z-index: 3;
    } */

    .newsHide {
        display: flex;
        top: -13px;
    }

    .pic {
        /* position: relative; */
        /* height: auto; */
        /* max-width: 510px;
        border-radius: 12px; */
    }

    .hirePic {
        position: relative;
        /* width: 100%; */
        /* height: auto; */
        /* max-width: 510px;
        border-radius: 12px; */
    }
}

@media only screen and (max-width:700px) {
    .right ul {
        align-items: center;
    }
}

@media only screen and (max-width:575px) {
    .pic {
        width: 100%;
        height: auto;
        max-width: 542px;
        border-radius: 12px;
    }

    .serviceBox {
        grid-template-columns: 1fr;
        width: 98%;
        padding: 0 0;
    }

    .serviceBox .serviceCard {
        background-image: linear-gradient(-90deg, #f61a19, #ef0963);
        color: white;
    }

    .serviceCard .icon i {
        color: white;
    }

    .projectBox {
        grid-template-columns: 1fr;
    }

    .newsBox {
        grid-template-columns: 1fr;
    }

    .newsCard {}

    .footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer .copyRight {
        position: relative;
        top: 0;
        left: 0;
        justify-content: center;
    }
}

@media only screen and (max-width:375px) {

    .right ul {
        align-items: center;
        /* padding: 0 120px; */
    }

    .footer .copyRight {
        align-items: center;
        justify-content: center;
    }

    .footer .footerImg img {
        justify-content: center;
    }

    .footer .copyRight {
        justify-content: center;
    }
}

/* @media only screen and (min-width:529px) and (max-width:575px) {
    .projectContent {
        left: 80px;
    }
}

@media only screen and (min-width:435px) and (max-width:549px) {
    .projectContent {
        left: 25px;
    }
} */

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .row {
        padding-top: 76px;
    }
}