* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "whitney ssm a", "whitney ssm b", "lucida grande", "lucida sans", Verdana, Helvetica, Arial, sans-serif;
    background-color: #373941;
}

.main {
    margin: 0 auto;
    width: 100%;
}

.leftArea {
    background-color: #373941;
    width: 350px;
    max-width: 1200px;
}


.sliderButton {
    font-size: 16px;
    margin: 0;
    color: white;
    padding: 25px 30px;
    display: none;
}

.sliderButton i {
    cursor: pointer;
}

.sliderButtonText-1 {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: rgb(151, 153, 167);
}

.sliderButtonText-2 {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.sliderButtonText-2:hover {
    color: rgb(45, 179, 74);
    transition: all 0.3s ease;
}

.header {
    color: white;
    padding: 0 35px;
    margin: 36px 0 38px 0;
}

.header p {
    font-weight: 300;
    font-size: 16px;
    color: rgb(151, 153, 167);
}

.header h3 {
    font-weight: 600;
    font-size: 30px;
}

.leftContent {
    padding: 0 35px;
}

.leftText {
    margin-bottom: 1.71428571rem;
}

.leftText p {
    font-weight: 300;
    font-size: 16px;
    padding: 5px 0;
    color: rgb(151, 153, 167);
}

.leftText strong {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.leftText button {
    border: 0;
    padding: 14px 25px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #0087CC;
    border-radius: 5px;
    height: 70px;
    cursor: pointer;
}

.leftText button:hover {
    background-color: #FF7B29;
    transition: 0.3s ease;
}

.sid-1 {
    padding-top: 30px;
}

.sid-2 {
    padding-bottom: 1px;
}

.leftText p span {
    cursor: pointer;
    color: white;
}

.leftText strong:hover,
.leftText p span:hover {
    color: rgb(45, 179, 74);
    transition: 0.3s ease;
}

.leftArea-2 {
    width: 300px;
    display: none;
}


.middlearea {
    background: #fff url(./Assets/image/triangles.png);
    background-position: 676px -3px;
    background-repeat: no-repeat;
    background-size: auto 75%;
    width: 100%;
}

.second {
    padding: 0 40px;
}

.group {
    padding-top: 35px;
    text-align: center;
    width: 100%;
    max-width: 550px;
}

.group h1 {
    font-weight: 600;
    font-size: 41px;
    color: rgb(66, 68, 78);
}

.group p {
    color: rgb(151, 153, 167);
    font-weight: 300;
    font-size: 21px;
    margin-bottom: 28px;
}

.middleText {
    font-weight: 400;
    font-size: 16px;
    color: rgb(102, 102, 102);
    width: 100%;
    max-width: 650px;
}

.courseOverview {
    padding: 20px;
    max-width: 500px;
}


.courseOverview ol li {
    padding-top: 6px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.courseOverview ol li:hover {
    color: rgb(255, 123, 21);
    transition: 0.3s ease;
}

.middleFirstButton {
    padding-top: 50px;
    max-width: 650px;
    text-align: center;
}

.middleFirstButton button {
    background-color: #0087CC;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.middleFirstButton button:hover {
    background-color: #FF7B29;
    transition: 0.3s ease;
}

.socialMidia {
    max-width: 650px;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 3px;
    margin-bottom: 27px;
}

.socialMidia i {
    cursor: pointer;
    color: #9799a7;
}

.socialMidia i:hover {
    color: rgb(45, 179, 74);
    transition: 0.3s ease;
}

.book {
    padding: 27px 34px;
    border: 1px ridge rgb(45, 179, 74);
    background-color: #f2fcf4;
    border-radius: 5px;
    max-width: 670px;
    margin-bottom: 28px;
}

.book img {
    padding-top: 30px;
    cursor: pointer;
    max-width: 100%;
}

.book h3 {
    font-weight: 600;
    font-size: 27px;
    cursor: pointer;
}

.book h3:hover {
    color: rgb(255, 123, 21);
    transition: 0.3s ease;
}

.book .bookDes {
    font-weight: 400;
    font-size: 16px;
    padding-top: 50px;
    margin-bottom: 28px;
    font-style: italic;
}


.book .bookSpan {
    color: rgb(66, 68, 78);
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
}

.book button {
    background-color: rgb(45, 179, 74);
    border: none;
    color: white;
    padding: 14px 25px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.book button:hover {
    background-color: rgb(255, 123, 21);
    transition: 0.3s ease;
}

.book .link {
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(102, 102, 102);
}

.book .link .bookLink {
    color: #17c0da;
    cursor: pointer;
    text-decoration: underline rgb(102, 102, 102);
}

.book .link .bookLink:hover {
    color: rgb(255, 123, 21);
    transition: 0.3s ease;
}

.doubble {
    border: 1px ridge rgb(102, 102, 102);
    border-radius: 5px;
    margin-bottom: 28px;
    max-width: 740px;
}

.lessons {
    padding: 27px 34px;
}

.lessons h3 {
    font-weight: 600;
    font-size: 21px;
    cursor: pointer;
    color: rgb(45, 179, 74);
}

.lessons h3:hover {
    color: rgb(255, 123, 21);
    transition: 0.3s ease;
}

.lessons img {
    cursor: pointer;
    height: 131px;
    border-radius: 50%;
    margin-bottom: 1px;
}

.lessons .lessonsDes {
    font-weight: 400;
    font-size: 16px;
    padding-top: 50px;
    margin-bottom: 28px;
    font-style: italic;
}

.lessons .lessonsSpan {
    color: #17c0da;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

.lessons button {
    color: rgb(255, 255, 255);
    background-color: #0087CC;
    border: none;
    padding: 14px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.lessons button:hover {
    background-color: rgb(255, 123, 21);
    transition: 0.3s ease;
}

.newsLetter {
    padding: 27px 34px;
    border-top: 1px ridge rgb(102, 102, 102);
}

.newsLetter h3 {
    color: rgb(45, 179, 74);
    font-weight: 600;
    font-size: 21px;
}

.newsLetter .newsLetterDes {
    padding-top: 50px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(102, 102, 102);
}

.emailInput {
    padding-top: 40px;
}

.emailInput input {
    border: 1px ridge rgb(102, 102, 102);
    padding: 13px 18px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
}

.emailInput input::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: rgb(102, 102, 102);
}

.emailInput input:focus {
    border: none;
    outline: 1px solid #0087CC;
    transition: 0.3s ease-in-out;
}

.emailInput button {
    background-color: #0087CC;
    border: none;
    padding: 13px 18px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-left: -6px;
}

.emailInput button:hover {
    background-color: rgb(255, 123, 21);
    transition: 0.3s ease;
}

.footer {
    margin: 0 -35px;
    padding: 27px 34px;
    background-color: #EAEAED;
    width: 100%;
}

.footerText {
    max-width: 687px;
}

.footerText span button {
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    padding: 1px 12px;
    height: 20px;
    border-radius: 5px;
}

.footerText-1 {
    max-width: 678px;
    text-align: center;
    display: none;
}

.footerText-1 p button {
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    padding: 1px 12px;
    height: 20px;
    border-radius: 5px;
}

/* media query */

@media only screen and (min-width: 650px) and (max-width: 800px),
(min-width: 913px) {
    .book img {
        float: right;
    }

    .lessons img {
        float: right;
    }
}

@media only screen and (min-width:300px) and (max-width:650px),
(min-width: 800px) and (max-width: 913px) {
    .book img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .lessons img {
        display: none;
    }
}

@media (min-width: 1670px) {

    .middlearea {
        background-position: 100% -3px;
    }
}

@media (min-width: 1400px) and (max-width: 1669px) {

    .middlearea {
        background-position: 836px -3px;
    }
}

@media (min-width: 801px) and (max-width: 1399px) {

    .middlearea {
        background-position: 750px -3px;
    }
}

@media only screen and (min-width:810px) {
    .main {
        display: flex;
    }
}

@media only screen and (max-width:810px) {
    .leftArea {
        display: none;
    }

    .sliderButton {
        display: block;
    }
}

@media only screen and (max-width:520px) {
    .footerText {
        display: none;
    }

    .footerText-1 {
        display: block;
    }

    .footerText span {
        text-align: center;
        font-size: 12px;
    }
}

@media (min-width: 500px) {
    .footerText span {
        float: right;
    }

    .courseOverview {
        float: left;
        width: 30%;
    }

    .co-1 {
        padding-right: 18px;
    }
}

@media only screen and (max-width:500px) {
    .co-2 {
        padding: 0 20px;
    }
}

@media only screen and (max-width:478px) {
    .emailInput input {
        width: 90%;
    }

    .emailInput button {
        width: 100%;
        margin-top: 10px;
        margin-left: 5px;
    }

}

@media only screen and (max-width:411px) {
    .middleFirstButton {
        font-weight: 600;
        font-size: 14px;
    }
}